:root {
    --text-muted: #C9C8C7;
}

main {
    background: url('../public/assets/woods_background.png') center no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    color: var(--text-muted);
}

/* GLOBAL Styles for the entire component containers */
.componentContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.seasonPreviewCardContainer {
    width: 80vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

/* Season preview card is the single card styles within the SeasonPreviewCard.tsx file */
.seasonPreviewCard {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.seasonPreviewCard > *:nth-child(3n+1) {
    justify-self: start;
    text-align: left;
}
.seasonPreviewCard > *:nth-child(3n+2) {
    justify-self: center;
    text-align: center;
}
.seasonPreviewCard > *:nth-child(3n) {
    justify-self: end;
    text-align: right;
}
/* GLOBAL button styles : can be used for any buttons */
.dbdButton {
    width: fit-content;
    align-self: center;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    color: var(--text-muted);
    border: none;
    border-right: 2px solid var(--red);
    background-color: transparent;
    background-image:
                /* --- LAYER 1: RED HOVER (Hidden by default) --- */
            linear-gradient(to left, var(--red), var(--red)),
                /* --- LAYER 2: GRAY DEFAULT (Always visible) --- */
            linear-gradient(to left, rgba(18, 18, 18, 0.95), transparent);
    background-position: right center, right center;
    background-repeat: no-repeat;
    background-size: 0 100%, 100% 100%;
    transition: background-size 0.4s ease-out, color 0.3s ease;

    &:hover {
        color: white;
        background-size: 100% 100%, 100% 100%;
    }
}
/* GLOBAl Card styles : can be used for any clickable card such as seasons, matches, etc */
.dbdCard {
    position: relative;
    cursor: pointer;
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.95);
    color: var(--text-muted);
    box-shadow: -8px 6px 3px rgba(0, 0, 0, 0.6);
}
/* GLOBAL Card hover styles to make corner borders grow on hover : can be used for any hover-able items */
.cardHover {
    background-image:
        /* Top Left (Horizontal, Vertical) */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Top Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Left */
            linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position:
            0 0, 0 0,           /* Top Left */
            100% 0, 100% 0,     /* Top Right */
            100% 100%, 100% 100%, /* Bottom Right */
            0 100%, 0 100%;     /* Bottom Left */
    background-size:
            0 2px, 2px 0,  /* Top Left */
            0 2px, 2px 0,  /* Top Right */
            0 2px, 2px 0,  /* Bottom Right */
            0 2px, 2px 0;  /* Bottom Left */
    transition:
            background-size 0.3s ease-out,
            transform 0.2s ease-in-out,
            border-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.90);
        background-size:
                20px 2px, 2px 20px, /* Top Left */
                20px 2px, 2px 20px, /* Top Right */
                20px 2px, 2px 20px, /* Bottom Right */
                20px 2px, 2px 20px; /* Bottom Left */
        color: white;
    }
}
/* GLOBAL Grade styles : used specifically for the grade image and roman number */
.grade {
    position: relative;
    width: fit-content;

    img {
        display: block;
        height: 80px;
        width: auto;
    }
    p {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 10;
        font-size: 1.8rem;
        font-weight: bold;
        text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
    }
}
