:root {
    --text-muted: #C9C8C7;
}

main {
    background: url('../public/assets/woods_background.png') no-repeat fixed center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-muted);
}
.header {
    position: sticky;
    top: 0; left: 0;
    height: 60px;
    box-sizing: border-box;
    z-index: 100;
    background: rgba(18, 18, 18, 0.7);
    border-bottom: 3px solid rgb(18, 18, 18);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navButtonContainer {
    display: flex;
    gap: 0 20px;
}

/* GLOBAL Styles for the entire component containers */
.componentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    h2.special-elite {
        align-self: start;
        margin-left: 10vw;
    }
}
.startMatchContainer {
    gap: 20px;
}
.startMatchContainer > div {
    width: 100%;
}
.seasonPreviewCardContainer {
    width: 80vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.seasonDetailContainer {
    display: grid;
    grid-template-columns: 110px auto;
    gap: 20px;
}
/* The menu on the left hand side that chooses the view */
.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(18, 18, 18, 0.7);
    border-right: 3px solid rgb(18, 18, 18);
    position: sticky;
    top: 60px; left: 0; /* Must match the height of the header */
    height: calc(100vh - 60px); /* Fills the rest of the height */
    box-sizing: border-box;
    padding-top: 20px;

    .menuButton {
        width: 70px;
        height: 70px;
        padding: 10px;
        align-self: center;

        img {
            width: 100%;
            pointer-events: none;
        }
    }
}
{/* The view state of menu above */}
.activeView {
    padding: 30px;
}

/* Season preview card is the single card styles within the SeasonPreviewCard.tsx file */
.seasonPreviewCard {
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
.seasonPreviewCard > *:nth-child(3n+1) {
    justify-self: start;
    text-align: left;
}
.seasonPreviewCard > *:nth-child(3n+2) {
    justify-self: center;
    text-align: center;
}
.seasonPreviewCard > *:nth-child(3n) {
    justify-self: end;
    text-align: right;
}
/* GLOBAL button styles : used for every button */
.button {
    width: fit-content;
    padding: 10px;
    text-align: right;
    cursor: pointer;
    color: var(--text-muted);
    border: none;

    &:hover {
        color: white;
    }
}
/* GLOBAL button styles : can be used for any buttons */
.dbdButton {
    align-self: center;
    border-right: 2px solid var(--red);
    background-color: transparent;
    background-image:
                /* --- LAYER 1: RED HOVER (Hidden by default) --- */
            linear-gradient(to left, var(--red), var(--red)),
                /* --- LAYER 2: GRAY DEFAULT (Always visible) --- */
            linear-gradient(to left, #070809, #070809);
    background-position: right center, right center;
    background-repeat: no-repeat;
    background-size: 0 100%, 100% 100%;
    transition: background-size 0.4s ease-out, color 0.3s ease;

    &:hover {
        background-size: 100% 100%, 100% 100%;
    }
}
.startSeasonViewContainer {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Styles for the list of variant rules */
.variantRulesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;

    li {
        padding: 10px;
        background: #1c1c1c;
    }

    .ruleTitle {
        font-size: 1.3rem;
    }
}
/*  */
.economyItemList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        padding: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        filter: grayscale(100%) opacity(0.5);
        transition: all 0.3s ease;
    }
    li.selectedButton {
        filter: grayscale(0%) opacity(1);
    }

    .economyItemTitle {
        position: relative;
        width: 100%;

        .oswald {
            font-size: 1.3rem;
        }
    }
}
/* GLOBAL form styles : for any forms */
.dbdFormGroup {

}
/* GLOBAL input button container : used for the container of any group of buttons on forms */
.inputButtonsContainer {
    display: flex;
    gap: 20px;
    margin: 10px 0;

    button {
        width: fit-content;
    }
}
/* Roster Selector at start of season */
.rosterSelectorContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .dbdButtonContainer {
        display: flex;
        gap: 20px;
    }
}
/* GLOBAL List view of characters */
.rosterList {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: center;
    gap: 20px;

    .button {
        padding: 0;
    }

    .dbdInputButton {
        position: relative;
        filter: grayscale(100%) opacity(0.5);
        transition: all 0.3s ease;
    }
    .dbdInputButton.selectedButton {
        filter: grayscale(0%) opacity(1);
    }

    img {
        width: 110% !important;
        margin-bottom: 20px;
    }
    p {
        text-align: center;
    }
}
.matchHeader {
    display: flex;
    justify-content: space-between;
}
/* GLOBAL Grade styles : used specifically for the grade image and roman number */
.gradeDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grade {
    position: relative;
    width: fit-content;

    img {
        display: block;
        height: 80px;
        width: auto;
    }
    p {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        z-index: 10;
        font-size: 1.8rem;
        font-weight: bold;
        text-shadow:
                2px 2px 0 #000,
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    }
}
.pipContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}
.pip {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #555;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.pip.filled {
    background-color: var(--text-muted);
    border-color: var(--text-muted);
    box-shadow: 0 0 8px rgba(201, 200, 199, 0.6);
}
/* GLOBAL Selected list view of the perks */
.loadoutContainer {
    display: flex;
    gap: 40px;
    box-sizing: border-box;
}
.perkSlot {
    width: 100px;
    height: 100px;
    background: rgba(18, 18, 18, 0.7);
    border: 3px solid rgb(18, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    position: relative;

    img {
        width: 110%;
        height: 110%;
        object-fit: cover;
    }
}
.perkSlot.activeSlot {
    cursor: pointer;
    background-color: #070809;
    background-image:
        /* Top Left (Horizontal, Vertical) */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Top Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Left */
            linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position:
            0 0, 0 0,           /* Top Left */
            100% 0, 100% 0,     /* Top Right */
            100% 100%, 100% 100%, /* Bottom Right */
            0 100%, 0 100%;     /* Bottom Left */
    background-size:
            0 2px, 2px 0,  /* Top Left */
            0 2px, 2px 0,  /* Top Right */
            0 2px, 2px 0,  /* Bottom Right */
            0 2px, 2px 0;  /* Bottom Left */
    transition:
            background-size 0.3s ease-out,
            transform 0.2s ease-in-out,
            border-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.90);
        background-size:
                25% 2px, 2px 25%, /* Top Left */
                25% 2px, 2px 25%, /* Top Right */
                25% 2px, 2px 25%, /* Bottom Right */
                25% 2px, 2px 25%; /* Bottom Left */
    }
}
.perkSlot.lockedSlot {
    background: repeating-linear-gradient(
    45deg, #1a1a1a, #1a1a1a 10px, #000 10px, #000 20px
    );
    border-color: #222;
    opacity: 0.6;
}
.perkSlot.emptySlot {
    border-style: dashed;
    border-color: #666;
}
/* The price tags over the killers */
.priceTag {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--red);
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.priceTagInput {
    width: 40px;
    background: transparent;
    border: none;
    color: white;
    text-align: center;
}
/* GLOBAL button styles : used for input button on forms */
.dbdInputButton {
    box-shadow: -4px 3px 3px rgba(0, 0, 0, 0.6);
    background-color: #070809;
    background-image:
        /* Top Left (Horizontal, Vertical) */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Top Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Left */
            linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position:
            0 0, 0 0,           /* Top Left */
            100% 0, 100% 0,     /* Top Right */
            100% 100%, 100% 100%, /* Bottom Right */
            0 100%, 0 100%;     /* Bottom Left */
    background-size:
            0 2px, 2px 0,  /* Top Left */
            0 2px, 2px 0,  /* Top Right */
            0 2px, 2px 0,  /* Bottom Right */
            0 2px, 2px 0;  /* Bottom Left */
    transition:
            background-size 0.3s ease-out,
            transform 0.2s ease-in-out,
            border-color 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    outline: none;

    img {
        width: 80px;
    }
}
.dbdInputButton:hover:not(.rosterList .button:hover, .perkList .button:hover, li:hover),
.selectedButton {
    background-color: rgba(0, 0, 0, 0.90);
    background-size:
            25% 2px, 2px 25%, /* Top Left */
            25% 2px, 2px 25%, /* Top Right */
            25% 2px, 2px 25%, /* Bottom Right */
            25% 2px, 2px 25%; /* Bottom Left */
    color: white;
}
.startingAmount {
    width: 60px;
}
/* GLOBAL input styles : used for text input on forms */
.dbdInput {
    padding: 7px;
    box-shadow: -4px 3px 3px rgba(0, 0, 0, 0.6);
    background-color: #070809;
    border: none;
    color: var(--text-muted);
    outline: none;
    background-image:
        /* Top Left (Horizontal, Vertical) */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Top Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Left */
            linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position:
            0 0, 0 0,           /* Top Left */
            100% 0, 100% 0,     /* Top Right */
            100% 100%, 100% 100%, /* Bottom Right */
            0 100%, 0 100%;     /* Bottom Left */
    background-size:
            0 2px, 2px 0,  /* Top Left */
            0 2px, 2px 0,  /* Top Right */
            0 2px, 2px 0,  /* Bottom Right */
            0 2px, 2px 0;  /* Bottom Left */
    transition:
            background-size 0.3s ease-out,
            transform 0.2s ease-in-out,
            border-color 0.3s ease;
}
.dbdInput:focus,
.dbdInput:hover {
    background-color: rgba(0, 0, 0, 0.90);
    background-size:
            15% 2px, 2px 25%, /* Top Left */
            15% 2px, 2px 25%, /* Top Right */
            15% 2px, 2px 25%, /* Bottom Right */
            15% 2px, 2px 25%; /* Bottom Left */
    color: white;
}
/* GLOBAl Card styles : can be used for any clickable card such as seasons, matches, etc */
.dbdCard {
    position: relative;
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.95);
    color: var(--text-muted);
    box-shadow: -8px 6px 3px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
/* Specific to the season setup options */
.seasonSetup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Specific to the options and character selection - marks an active component */
.activeComponent {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
}
/* GLOBAL Card hover styles to make corner borders grow on hover : can be used for any hover-able items */
.cardHover {
    background-image:
        /* Top Left (Horizontal, Vertical) */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Top Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Right */
            linear-gradient(white, white), linear-gradient(white, white),
                /* Bottom Left */
            linear-gradient(white, white), linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position:
            0 0, 0 0,           /* Top Left */
            100% 0, 100% 0,     /* Top Right */
            100% 100%, 100% 100%, /* Bottom Right */
            0 100%, 0 100%;     /* Bottom Left */
    background-size:
            0 2px, 2px 0,  /* Top Left */
            0 2px, 2px 0,  /* Top Right */
            0 2px, 2px 0,  /* Bottom Right */
            0 2px, 2px 0;  /* Bottom Left */
    transition:
            background-size 0.3s ease-out,
            transform 0.2s ease-in-out,
            border-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.90);
        background-size:
                20px 2px, 2px 20px, /* Top Left */
                20px 2px, 2px 20px, /* Top Right */
                20px 2px, 2px 20px, /* Bottom Right */
                20px 2px, 2px 20px; /* Bottom Left */
        color: white;
    }
}
